<%= bootstrap_devise_error_messages! %>

<div class="container-login4">
  <div class="yohaku-login4">
  </div>

  <div class="card border-0 p-5 text-center">
    <%= link_to root_path do %>
      <div class="text-dark mb-5" style="font-size: 3.4rem; font-family: 'Kiwi Maru', serif;">
        レシピ館
      </div>
    <% end %>

    <div class="mb-5" style="font-size: 2.2rem;">
      新規登録
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-group mb-4 mt-3">
        <%= f.text_field :username,
                         autofocus: true,
                         autocomplete: "email",
                         class: "form-control text-dark",
                         style: "font-size: 1.4rem;",
                         required: true,
                         maxlength: '30',
                         placeholder: "ユーザー名" %>
      </div>

      <div class="form-group mb-4">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "form-control text-dark",
                          style: "font-size: 1.4rem; padding-right: 5.95rem;",
                          required: true,
                          maxlength: '50',
                          placeholder: "メールアドレス" %>
      </div>

      <div class="form-group mb-4">
        <%= f.password_field :password,
                             autocomplete: "new-password",
                             class: "form-control text-dark",
                             style: "font-size: 1.4rem;",
                             required: true,
                             minlength: @minimum_password_length,
                             maxlength: '30',
                             placeholder: "パスワード（6文字以上）" %>
      </div>

      <div class="form-group mb-5">
        <%= f.password_field :password_confirmation,
                             autocomplete: "new-password",
                             class: "form-control text-dark",
                             style: "font-size: 1.4rem;",
                             required: true,
                             minlength: @minimum_password_length,
                             maxlength: '30',
                             placeholder: "パスワード（確認用）" %>
      </div>

      <div class="actions mb-4">
        <%= f.submit t('.sign_up'), class:"btn btn-warning btn-block" %>
      </div>
    <% end %>

    <%= link_to users_guest_sign_in_path, method: :post do %>
      <button type="button" class="btn btn-warning btn-block"">ゲストログイン(閲覧用)</button>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="yohaku-login4">
  </div>
</div>
