<%= render 'shared/header' %>
<%= render 'error', recipe: @recipe %>

<div class="container-recipe2">
  <div class="yohaku-recipe2">
  </div>

  <div class="card border-0 p-5 text-left text-dark">
    <div class="text-center" style="font-size: 2.2rem; margin: 3rem 0 4.5rem;">
      <strong>レシピ編集</strong>
    </div>

    <%= form_for @recipe do |f| %>
      <div class="form-group mb-5">
        <strong><%= f.label :title, "レシピ名" %></strong>
        <%= f.text_field :title,
                         autofocus: true,
                         autocomplete: "email",
                         class: "form-control text-dark",
                         style: "font-size: 1.4rem;",
                         required: true,
                         maxlength: '100' %>
      </div>

      <div class="form-group mb-5">
        <strong><%= f.label :body, "作り方" %></strong>
        <%= f.text_area :body,
                        rows: 5,
                        autofocus: true,
                        autocomplete: "email",
                        class: "form-control text-dark",
                        style: "font-size: 1.4rem;",
                        required: true %>
      </div>

      <div class="form-group">
        <strong><%= f.label :image, "写真" %></strong><br />
        <%= f.attachment_field :image %>
      </div>

      <div style="margin: 5.5rem 0 3rem;">
        <%= f.submit "更新", class:"btn btn-warning btn-block" %>
      </div>
    <% end %>
  </div>

  <div class="yohaku-recipe2">
  </div>
</div>
