<%= render 'error', recipe: @recipe %>

<div class="container-edit">
  <div class="text-left p-5">
    <%= form_for @recipe do |f| %>

      <div class="form-group">
        <%= f.label :title, "レシピ名" %><br />
        <%= f.text_field :title,
                         autofocus: true,
                         autocomplete: "email",
                         class: "form-control text-dark",
                         style: "font-size: 1.4rem;",
                         required: true,
                         maxlength: '100' %>
      </div>

      <div class="form-group">
        <%= f.label :body, "作り方" %><br />
        <%= f.text_area :body,
                        rows: 5,
                        autofocus: true,
                        autocomplete: "email",
                        class: "form-control text-dark",
                        style: "font-size: 1.4rem;",
                        required: true %>
      </div>

      <div class="form-group">
        <%= f.label :image, "写真" %><br />
        <%= f.attachment_field :image %>
      </div>

      <%= f.submit "更新", class:"btn btn-warning" %>

    <% end %>
  </div>
</div>
