<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">レシピ編集</h1>
</div>

<% if @recipe.errors.any? %>
  <div class="alert alert-danger pt-4 rounded-0" role="alert">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="text-left p-5">
    <%= form_for @recipe do |f| %>

      <div class="form-group">
        <%= f.label :title, "レシピ名" %><br />
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :body, "作り方" %><br />
        <%= f.text_area :body, rows: 5, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image, "写真" %><br />
        <%= f.attachment_field :image %>
      </div>

      <%= f.submit "更新", class:"btn btn-primary" %>

    <% end %>
  </div>
</div>
