<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">レシピ一覧</h1>
</div>
<%= render 'shared/flash_messages' %>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3">
    <% @recipes.each do |recipe| %>
      <div class="col mb-4" style="min-width: 20rem">

        <div class="card shadow-sm">
          <div class="text-center p-0">
            <%= link_to recipe_path(recipe) do %>
              <%= attachment_image_tag recipe, :image, width: '100%', height: '300px' %>
            <% end %>
          </div>

          <div class="card-body text-left p-3">
            <div class="row">
              <div class="col-2">
                <%= link_to user_path(recipe.user.id) do %>
                  <%= attachment_image_tag recipe.user, :profile_image, fallback: "no-image.png", class: "profile_image rounded-circle", size: "48x48" %>
                <% end %>
              </div>

              <div class="col-10 mt-1">
                <h3 class="card-title">
                  <%= link_to user_path(recipe.user.id) do %>
                    <%= recipe.user.username %>
                  <% end %>
                </h3>
              </div>
            </div>

            <h6 class="card-title mt-3 mb-0">
              <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            </h6>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <%= paginate @recipes %>
  <%= page_entries_info @recipes %>
</div>
