<%= render 'shared/header' %>
<%= render 'shared/flash_messages' %>

<% if @search_recipes.any? %>
  <div class="container recipes-padding">
    <div class="row no-gutters row-cols-1 row-cols-md-2 row-cols-lg-3 retsu3">
      <% @search_recipes.each do |recipe| %>
        <div class="col">
          <%= render 'shared/recipes', recipe: recipe %>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @search_recipes %>
    </div>
    <div class="d-flex justify-content-center mb-0">
      <%= page_entries_info @search_recipes %>
    </div>
  </div>
<% else %>
  <div class="container-result">
    <div class="card border-0 align-items-center justify-content-center">
      一致する結果はありませんでした。
    </div>
  </div>
<% end %>
