<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">レシピ詳細</h1>
</div>
<%= render 'shared/flash_messages' %>

<div class="container mt-5">
  <div class="col d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-1">
      <div class="col mb-4" style="max-width: 40rem">
        <div class="card shadow-sm mb-5">
          <div class="text-center p-3">
            <%= attachment_image_tag @recipe, :image, width: '100%', height: '480px' %>
          </div>
          <div class="card-body text-left pt-0 pb-1">
            <h4 class="card-title">
              <strong><%= @recipe.title %></strong>
            </h4>
            <p class="border-bottom pb-1 mb-1">
              <strong>レシピ</strong>
            </p>
            <div>
              <%= simple_format @recipe.body %>
            </div>
            <h6 class="card-title my-3">
              <time><%= @recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            </h6>

            <div class="row mt-4">
              <div class="col-1 pr-0">
                <% if current_user.already_favorited?(@recipe) %>
                  <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_favorites_path(@recipe), method: :create do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </div>

              <div class="col-11 pl-0">
                <%= @recipe.favorites.count %>
              </div>
            </div>
            <br />

            <% if @recipe.user.id == current_user.id %>
              <div class="btn-group" role="group">
                <%= link_to edit_recipe_path(@recipe) do %>
                  <button type="button" class="btn btn-warning mt-0 mb-3 mr-1">編集</button>
                <% end %>
                <%= link_to recipe_path(@recipe), method: :delete, data: {confirm: "削除しますか？"} do %>
                  <button type="button" class="btn btn-danger mt-0 mb-3 ml-2">削除</button>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="my-5">
          <h5>
            <%= @recipe.comments.count %>件のコメント
          </h5>
        </div>

        <% @recipe.comments.each do |comment| %>
          <div class="row">
            <div class="col-1">
              <%= link_to user_path(comment.user.id) do %>
                <%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.png", class: "profile_image rounded-circle", size: "48x48" %>
              <% end %>
            </div>

            <div class="col-11">
              <table class="table table-borderless my-0">
                <tr>
                  <td class="align-middle pr-0">
                    <%= link_to user_path(comment.user.id) do %>
                      <%= comment.user.username %>
                    <% end %>
                    <time><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
                  </td>

                  <% if comment.user == current_user %>
                    <td class="align-middle text-right p-0">
                      <div>
                        <%= link_to [@recipe, comment], method: :delete, data: {confirm: "削除しますか？"} do %>
                          <button type="button" class="btn btn-danger">削除</button>
                        <% end %>
                      </div>
                    </td>
                  <% end %>
                </tr>
              </table>

              <table class="table table-borderless mb-5" style="table-layout: fixed;">
                <tr>
                  <td style="word-wrap: break-word;">
                    <%= simple_format comment.body %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        <% end %>


        <div class="mb-5">
          <%= form_with model: [@recipe, @comment], local: true do |f| %>
            <div class="form-group">
              <%= f.text_area :body,
                              rows: 1,
                              class: "form-control",
                              required: true,
                              maxlength: '140',
                              placeholder: "コメントを追加…" %>
            </div>
            <%= f.submit 'コメントを投稿する', class:"btn btn-warning btn-block" %>
          <% end %>
        </div>

        <div class="card shadow-sm">
          <div class="card-header">
            <div class="row">
              <div class="col-1">
                <%= attachment_image_tag @recipe.user, :profile_image, fallback: "no-image.png", class: "profile_image rounded-circle", size: "48x48" %>
              </div>
              <div class="col-11 d-flex align-items-center pl-5">
                <%= @recipe.user.username %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= @recipe.user.profile %>
            </h5>
          </div>
          <%= link_to user_path(@recipe.user) do %>
            <div class="m-3">
              <%= @recipe.user.username %>さんのページへ
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
