<%= render 'shared/header' %>
<%= render 'shared/flash_messages' %>

<div class="container p-5">
  <div class="d-flex justify-content-center">
    <div class="col px-0" style="max-width: 60rem;">

      <div class="card shadow-sm" style="margin-bottom: 6rem;">
        <div>
          <%= attachment_image_tag @recipe, :image, width: '100%;', height: '100%;' %>
        </div>
        <div class="card-body p-4">
          <div class="wrapper">
            <% if @recipe.user.id == current_user.id %>
              <div class="kahen text-dark" style="padding: 0.8rem 0;">
                <strong><%= @recipe.title %></strong>
              </div>
              <div class="kotei40 ml-3">
                <div class="dropdown rounded-circle d-flex align-items-center justify-content-center" style="width: 4rem; height: 4rem;">
                  <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v py-1"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow py-0" aria-labelledby="dropdownMenuButton" style="width: 12rem;">
                    <%= link_to edit_recipe_path(@recipe), class: "dropdown-item" do %>
                      <div class="text-secondary py-4"><i class="far fa-edit pr-4"></i>編集</div>
                    <% end %>
                    <%= link_to recipe_path(@recipe), class: "dropdown-item", method: :delete, data: {confirm: "削除しますか？"} do %>
                      <div class="text-secondary py-4"><i class="far fa-trash-alt pr-4"></i>削除</div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="kahen text-dark" style="padding: 0.8rem 0;">
                <strong><%= @recipe.title %></strong>
              </div>
            <% end %>
          </div>

          <div class="mt-4">
            レシピ
          </div>

          <hr class="mt-1">

          <div class="mt-3" style="line-height: 2.8rem;">
            <%= simple_format @recipe.body %>
          </div>

          <div class="mt-4" style="font-size: 1.2rem;">
            <time><%= @recipe.updated_at.strftime("%Y/%m/%d") %></time>更新
          </div>

          <div class="mt-4" style="width: 3rem;">
            <% if current_user.already_favorited?(@recipe) %>
              <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                <div class="wrapper heart-pink" data-toggle="tooltip" title="いいねを取り消す" data-placement="bottom">
                  <div>
                    <i class="fas fa-heart"></i>
                  </div>
                  <div class="ml-2">
                    <%= @recipe.favorites.count %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= link_to recipe_favorites_path(@recipe), class:"link", method: :create do %>
                <div class="wrapper heart-hover-color" data-toggle="tooltip" title="いいね" data-placement="bottom">
                  <div>
                    <i class="far fa-heart"></i>
                  </div>
                  <div class="ml-2">
                    <%= @recipe.favorites.count %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div style="margin-bottom: 6rem;">
        <div class="wrapper d-flex align-items-center">
          <div class="kotei40">
            <%= link_to user_path(@recipe.user) do %>
              <%= attachment_image_tag @recipe.user, :profile_image, fallback: "no-image.png", class: "user-icon40 rounded-circle" %>
            <% end %>
          </div>

          <div class="kahen pl-4">
            <div class="text-ellipsis1">
              <%= link_to user_path(@recipe.user.id), class:"link-title" do %>
                <strong><%= @recipe.user.username %></strong>
              <% end %>
            </div>
          </div>

          <% if @recipe.user.id != current_user.id %>
            <div class="kotei101 ml-3">
              <% if @recipe.user.is_followed_by?(current_user) %>
                <%=link_to user_relationships_path(@recipe.user), method: :delete do %>
                  <button class="btn btn-follow btn101">
                    <div class="chu">フォロー中</div>
                    <div class="kaijo">フォロー解除</div>
                  </button>
                <% end %>
              <% else %>
                <%=link_to user_relationships_path(@recipe.user), method: :post do %>
                  <button class="btn btn-dark text-white btn101">フォローする</button>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="pt-5 text-dark" style="word-wrap: break-word;">
          <%= simple_format @recipe.user.profile %>
        </div>
      </div>

      <div style="margin-bottom: 6rem;">
        <hr>

        <h3 class="mt-4 text-dark">
          <%= @recipe.comments.count %> 件のコメント
        </h3>

        <div class="mt-4">
          <%= form_with model: [@recipe, @comment], local: true do |f| %>
            <div class="form-group">
              <%= f.text_area :body,
                              rows: 1,
                              style: "height: 4.8rem; font-size: 1.4rem; padding-top: 1.35rem;",
                              class: "form-control text-dark",
                              required: true,
                              maxlength: '140',
                              placeholder: "コメントを追加…" %>
            </div>
            <%= f.submit 'コメントを投稿する', class:"btn btn-warning btn-block mt-4" %>
          <% end %>
        </div>
      </div>

      <div>
        <% @recipe.comments.reverse_each do |comment| %>
          <div class="mb-5">
            <div class="wrapper">
              <div class="kotei40">
                <%= link_to user_path(comment.user.id) do %>
                  <%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.png", class: "user-icon40 rounded-circle" %>
                <% end %>
              </div>

              <div class="kahen pl-4 d-flex align-items-center">
                <div class="text-ellipsis1">
                  <%= link_to user_path(comment.user.id), class:"link-title" do %>
                    <strong><%= comment.user.username %></strong>
                  <% end %>
                </div>
              </div>

              <div class="d-flex justify-content-end pr-4" style="font-size: 1rem; line-height: 4rem; min-width: 8rem;">
                <span><%= time_ago_in_words(comment.created_at) %>前</span>
              </div>

              <div class="kotei40">
                <% if comment.user == current_user %>
                  <div class="dropdown rounded-circle d-flex align-items-center justify-content-center" style="width: 4rem; height: 4rem;">
                    <a  type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v py-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow py-0" aria-labelledby="dropdownMenuButton" style="width: 12rem;">
                      <%= link_to [@recipe, comment], class: "dropdown-item", method: :delete, data: {confirm: "削除しますか？"} do %>
                        <div class="text-secondary py-4"><i class="far fa-trash-alt pr-4"></i>削除</div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="px-4" style="margin:0 4rem;">
              <div class="pt-3 pb-5 text-dark" style="word-wrap: break-word;">
                <%= simple_format comment.body, {}, wrapper_tag: "div" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
