<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">ユーザー編集</h1>
</div>

<div class="container">
  <div class="text-left p-5">
    <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label :username, "ユーザー名" %><br />
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :profile, "プロフィール" %><br />
      <%= f.text_area :profile, rows: 5, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :profile_image, "プロフィール画像" %><br />
      <%= f.attachment_field :profile_image %>
    </div>

    <%= f.submit "更新", class:"btn btn-primary" %>

    <% end %>
  </div>
</div>
