<%= render 'shared/header' %>
<%= render 'shared/error', hoge: @user %>

<div class="container-edit-profile">
  <div class="yohaku-edit-profile">
  </div>

  <div class="card border-0 p-0">
    <div class="text-center">
      <%= link_to edit_user_path(@user) do %>
        <div class="text-dark p-5 dropdown-item active">
          プロフィールを変更
        </div>
      <% end %>
      <hr class="my-0">
      <%= link_to edit_user_registration_path do %>
        <div class="text-dark p-5 dropdown-item">
          パスワードを変更
        </div>
      <% end %>
      <hr class="my-0">
    </div>

    <div class="p-5 text-dark">
      <div class="text-center" style="font-size: 2.2rem; margin: 3rem 0 4.5rem;">
        <strong>プロフィールを変更</strong>
      </div>

      <%= form_for @user do |f| %>
        <div class="form-group mb-5">
          <strong><%= f.label :username %></strong>
          <%= f.text_field :username,
                          autofocus: true,
                          autocomplete: "off",
                          class: "form-control text-dark",
                          style: "font-size: 1.4rem;" %>
        </div>

        <div class="form-group mb-5">
          <strong><%= f.label :email %></strong>
          <%= f.email_field :email,
                            autocomplete: "off",
                            class: "form-control text-dark",
                            style: "font-size: 1.4rem;" %>
        </div>

        <div class="form-group mb-5">
          <strong><%= f.label :profile %></strong>
          <%= f.text_area :profile,
                          rows: 5,
                          class: "form-control text-dark",
                          style: "font-size: 1.4rem;" %>
        </div>

        <div class="form-group">
          <strong><%= f.label :profile_image %></strong><br />
          <%= f.attachment_field :profile_image %>
        </div>

        <div style="margin: 5.5rem 0 3rem;">
          <%= f.submit "プロフィールを変更", class:"btn btn-color01 btn-block" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="yohaku-edit-profile">
  </div>
</div>
