<div class="container p-5">
  <h5 class="text-center text-dark mb-5">
    フォロワー <%= @users.count %>人
  </h5>

  <hr class="mb-5" style="max-width: 600px">

  <div class="d-flex justify-content-center">
    <div class="col px-0" style="max-width: 600px">
      <div>
        <% @users.each do |user| %>
          <div class="wrapper mb-5 pb-5">
            <div class="kotei136">
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: "rounded-circle", size: "136x136" %>
              <% end %>
            </div>

            <% if user.profile.present? %>
              <div class="kahen px-4 d-flex align-items-center">
                <div>
                  <h5 class="text-ellipsis1 mb-2">
                    <%= link_to user_path(user), class:"link-title" do %>
                      <%= user.username %>
                    <% end %>
                  </h5>
                  <div class="mb-2" style="font-size: 12px;">
                    <%= user.recipes.count %> 件のレシピ
                  </div>
                  <div class="text-ellipsis2" style="font-size: 12px;">
                    <%= simple_format user.profile, {}, wrapper_tag: "div" %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="kahen px-4 d-flex align-items-center">
                <div>
                  <h5 class="text-ellipsis1 mb-2">
                    <%= link_to user_path(user), class:"link-title" do %>
                      <%= user.username %>
                    <% end %>
                  </h5>
                  <div style="font-size: 12px;">
                    <%= user.recipes.count %> 件のレシピ
                  </div>
                </div>
              </div>
            <% end %>

            <% if user != current_user %>
              <div class="kotei107 d-flex align-items-center">
                <% if user.is_followed_by?(current_user) %>
                  <%=link_to user_relationships_path(user), method: :delete do %>
                    <button class="btn btn-outline-secondary" style="width: 107px;">フォロー中</button>
                  <% end %>
                <% else %>
                  <%=link_to user_relationships_path(user), method: :post do %>
                    <button class="btn btn-dark text-white">フォローする</button>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>





<hr class="mb-5" style="max-width: 600px">
<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h1>FOLLOWERS</h1>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.username %>
                <% end %>
              </td>
              <td>
                <% if user != current_user %>
                  <% if user.is_followed_by?(current_user) %>
                    <%=link_to user_relationships_path(user), method: :delete do %>
                      <button class="btn btn-danger">フォロー中</button>
                    <% end %>
                  <% else %>
                    <%=link_to user_relationships_path(user), method: :post do %>
                      <button class="btn btn-warning">フォローする</button>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
