<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">ユーザー一覧</h1>
</div>

<div class="container mt-5 mb-3">
  <div class="row row-cols-1 row-cols-md-3">
    <% @users.each do |user| %>
      <div class="col mb-4" style="min-width: 20rem">
        <div class="card shadow-sm">
          <div class="text-center p-3">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: "profile_image rounded-circle", size: "250x250" %>
            <% end %>
          </div>
          <div class="card-body pt-0">
            <h4 class="card-title font-weight-normal">
              <%= link_to user_path(user), class:"link" do %>
                <%= user.username %>
              <% end %>
            </h4>
            <h6 class="card-title">
              投稿数：<%= user.recipes.count %>
            </h6>
            <% if user_signed_in? %>
              <% if user.is_followed_by?(current_user) %>
                <%=link_to user_relationships_path(user), method: :delete do %>
                  <button class="btn btn-danger">フォロー中</button>
                <% end %>
              <% else %>
                <%=link_to user_relationships_path(user), method: :post do %>
                  <button class="btn btn-warning">フォローする</button>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @users %>
  <%= page_entries_info @users %>
</div>
