<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">マイページ</h1>
</div>

<div class="container">
  <div class="row m-5">

    <div class="col-4 d-flex align-items-center">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image w-100 rounded-circle" %>
    </div>

    <div class="col-8 my-5">
      <table class="table table-borderless mt-5">
        <tr>
          <td class="align-middle">
            <strong><%= @user.username %></strong>
          </td>

          <% if @user.id == current_user.id %>
            <td class="align-middle">
              <%= @user.email %>
            </td>

            <td class="my-5 align-middle">
              <%= link_to "編集", edit_user_path(@user), class:"btn btn-primary" %>
            </td>
          <% end %>
        </tr>
      </table>

      <table class="table table-borderless mb-5">
        <tr>
          <td>
            <%= @user.profile %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

レシピの情報は後ほど実装。
