<%= render 'shared/flash_messages' %>

<div class="container mt-5 px-5 pb-4 text-dark" style="max-width: 480px;">
  <div class="oya">
    <div>
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "user-icon87 rounded-circle" %>
    </div>
    <div class="ko-mypage">
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user) do %>
          <button class="btn btn-outline-secondary">プロフィールを編集</button>
        <% end %>
      <% else %>
        <% if @user.is_followed_by?(current_user) %>
          <%=link_to user_relationships_path(@user), method: :delete do %>
            <button class="btn btn-outline-secondary" style="width: 10.1rem;">フォロー中</button>
          <% end %>
        <% else %>
          <%=link_to user_relationships_path(@user), method: :post do %>
            <button class="btn btn-dark text-white">フォローする</button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="ryaku mt-5" style="font-size: 1.6rem;">
    <strong><%= @user.username %></strong>
  </div>

  <% if @user.id == current_user.id %>
    <div class="ryaku text-secondary">
      <%= @user.email %>
    </div>
  <% end %>

  <div class="mt-4">
    <span class="mr-4">
      投稿 <strong><%= @user.recipes.count %></strong>件
    </span>
    <span class="mr-4">
      フォロワー <strong><%= link_to @user.followers.count, followers_user_path(@user), class: "link-title" %></strong>人
    </span>
    <span>
      フォロー中 <strong><%= link_to @user.followings.count, followings_user_path(@user), class: "link-title" %></strong>人
    </span>
  </div>

  <div class="mt-4">
    <%= simple_format @user.profile %>
  </div>
</div>










※後で対応
<div>
<%= link_to 'ユーザー編集', edit_user_registration_path, class: "link" %>
</div>
<div>
  <%= link_to [@user, :favorites], class: "link" do %>
    いいね一覧
  <% end %>
</div>
※後で対応









<div class="container px-5 pb-4">
  <hr class="my-0">

  <div class="text-center text-dark my-5" style="font-size: 1.6rem;">
    投稿一覧
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @user.recipes.reverse_each do |recipe| %>
      <div class="col px-1">
        <div class="card shadow-sm mx-2 mb-4">
          <div class="p-0">
            <%= link_to recipe_path(recipe) do %>
              <%= attachment_image_tag recipe, :image, width: '100%;', height: '300px;' %>
            <% end %>
          </div>

          <div class="card-body p-4">
            <div class="ryaku">
              <%= link_to recipe_path(recipe), class:"link-title" do %>
                <strong><%= recipe.title %></strong>
              <% end %>
            </div>

            <div class="mt-3" style="font-size: 1.2rem;">
              <span><%= time_ago_in_words(recipe.updated_at) %></span>前
            </div>

            <div class="img-container mt-3" style="font-size: 1.2rem;">
              <div>
                <% if user_signed_in? %>
                  <% if current_user.already_favorited?(recipe) %>
                    <%= link_to recipe_favorites_path(recipe), method: :delete do %>
                      <i class="fas fa-heart heart-pink"></i>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favorites_path(recipe), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% else %>
                  <i class="far fa-heart"></i>
                <% end %>
              </div>
              <div class="ml-2">
                <%= recipe.favorites.count %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
