<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">マイページ</h1>
</div>

<div class="container">
  <div class="row my-5 mx-3">

    <div class="col-3 d-flex align-items-center p-1">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image rounded-circle", size: "128x128" %>
    </div>

    <div class="col-9">
      <table class="table table-borderless mt-1">
        <tr>
          <td class="align-middle">
            <strong><%= @user.username %></strong>
          </td>

          <% if @user.id == current_user.id %>
            <td class="align-middle">
              <%= @user.email %>
            </td>

            <td class="py-1 align-middle">
              <%= link_to "編集", edit_user_path(@user), class:"btn btn-primary" %>
            </td>
          <% end %>
        </tr>
      </table>

      <table class="table table-borderless">
        <tr>
          <td>
            <%= @user.profile %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<% @user.recipes.each do |recipe| %>
  <%= attachment_image_tag recipe, :image %>
  <%= link_to "詳細", recipe_path(recipe) %>
  <%= link_to "編集", edit_recipe_path(recipe) %>
  <%= link_to "削除", recipe_path(recipe), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
