<div class="text-white p-5" style="background-color:#332f28;">
  <h1 class="display-5">マイページ</h1>
</div>
<%= render 'shared/flash_messages' %>

<div class="container">
  <div class="row my-5 mx-1">

    <div class="col-3 d-flex align-items-center p-0">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image rounded-circle", size: "128x128" %>
    </div>

    <div class="col-9">
      <table class="table table-borderless mt-1">
        <tr>
          <td class="align-middle">
            <strong><%= @user.username %></strong>
          </td>

          <% if @user.id == current_user.id %>
            <td class="align-middle">
              <%= @user.email %>
            </td>
            <td class="py-1 align-middle">
              <%= link_to "編集", edit_user_path(@user), class:"btn btn-warning" %>
            </td>
          <% end %>
        </tr>
      </table>

      <table class="table table-borderless">
        <tr>
          <td>
            <%= @user.profile %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @user.recipes.each do |recipe| %>
      <div class="col mb-4" style="min-width: 20rem">

        <div class="card shadow-sm">
          <div class="text-center p-0">
            <%= attachment_image_tag recipe, :image, width: '100%', height: '300px' %>
          </div>

          <div class="card-body text-left p-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item pl-0">
                <%= link_to recipe_path(recipe) do %>
                  このレシピを見る
                <% end %>
              </li>
              <% if @user.id == current_user.id %>
                <li class="list-group-item pl-0">
                  <%= link_to edit_recipe_path(recipe) do %>
                    このレシピを編集する
                  <% end %>
                </li>
                <li class="list-group-item pl-0">
                  <%= link_to recipe_path(recipe), method: :delete, data: {confirm: "削除しますか？"} do %>
                    このレシピを削除する
                  <% end %>
                </li>
              <% end %>
            </ul>

            <h6 class="card-title mt-3 mb-0">
              <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            </h6>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
