<%= bootstrap_devise_error_messages! %>

<div class="container-login">
  <div class="yohaku64">
  </div>

  <div class="card border-0 p-5 text-center">
    <%= link_to root_path do %>
      <div class="text-dark mb-5" style="font-size: 3.4rem; font-family: 'Kiwi Maru', serif;">
        レシピ館
      </div>
    <% end %>

    <div class="mb-5" style="font-size: 2.2rem;">
      パスワードを忘れた場合
    </div>

    <div class="mb-5" style="font-size: 1.2rem; line-height: 2.6rem;">
      ご登録中のメールアドレスを入力して下さい。<br>
      パスワード変更ページのURLを送信します。
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group mb-5 mt-3">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "form-control text-dark",
                          style: "font-size: 1.4rem; padding-right: 5.95rem;",
                          required: true,
                          maxlength: '50',
                          placeholder: "メールアドレス" %>
      </div>

      <div class="actions mb-4">
        <%= f.submit '送信', class:"btn btn-warning btn-block" %>
      </div>
    <% end %>
  </div>

  <div class="yohaku64">
  </div>
</div>
