<hr class="mb-5" style="max-width: 600px;">

<div class="d-flex justify-content-center">
  <div class="col px-0" style="max-width: 600px;">
    <div>
      <% @users.each do |user| %>
        <div class="wrapper mb-5 pb-5">
          <div class="kotei48 d-flex align-items-center">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: "user-icon48 rounded-circle" %>
            <% end %>
          </div>

          <% if user.profile.present? %>
            <div class="kahen px-4 d-flex align-items-center">
              <div>
                <div class="text-ellipsis1">
                  <%= link_to user_path(user), class:"link-title" do %>
                    <strong><%= user.username %></strong>
                  <% end %>
                </div>
                <div style="font-size: 1.2rem;">
                  <%= user.recipes.count %> 件のレシピ
                </div>
                <div class="text-ellipsis2 mt-2" style="font-size: 1.2rem;">
                  <%= simple_format user.profile, {}, wrapper_tag: "div" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="kahen px-4 d-flex align-items-center">
              <div>
                <div class="text-ellipsis1">
                  <%= link_to user_path(user), class:"link-title" do %>
                    <strong><%= user.username %></strong>
                  <% end %>
                </div>
                <div style="font-size: 1.2rem;">
                  <%= user.recipes.count %> 件のレシピ
                </div>
              </div>
            </div>
          <% end %>

          <% if user != current_user %>
            <div class="kotei101 d-flex align-items-center">
              <% if user.is_followed_by?(current_user) %>
                <%=link_to user_relationships_path(user), method: :delete do %>
                  <button class="btn btn-outline-secondary btn101">フォロー中</button>
                <% end %>
              <% else %>
                <%=link_to user_relationships_path(user), method: :post do %>
                  <button class="btn btn-dark text-white btn101">フォローする</button>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
