<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#fcefca;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to root_path, class:"link" do %>
    <h1 style="font-family: cursive;">portfolio</h1>
  <% end %>

  <div class="collapse navbar-collapse justify-content-start">
    <ul class="navbar-nav">
      <li class="nav-item active ml-3">
        <%= link_to recipes_path do %>
          <button type="button" class="btn btn-warning">レシピ一覧</button>
        <% end %>
      </li>
      <li class="nav-item active ml-3">
        <%= link_to users_path do %>
          <button type="button" class="btn btn-warning">ユーザー一覧</button>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item active mr-3">
        <%= link_to user_path(current_user) do %>
          <button type="button" class="btn btn-warning">マイページ</button>
        <% end %>
      </li>
      <li class="nav-item active mr-3">
        <%= link_to new_recipe_path do %>
          <button type="button" class="btn btn-warning">新規投稿</button>
        <% end %>
      </li>
      <li class="nav-item active mr-3">
        <%= link_to edit_user_registration_path do %>
          <button type="button" class="btn btn-warning">ユーザー編集</button>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <button type="button" class="btn btn-warning">ログアウト</button>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item active mr-3">
        <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-warning">新規登録</button>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to new_user_session_path do %>
          <button type="button" class="btn btn-warning">ログイン</button>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>

</nav>
