<%= render 'shared/header' %>
<%= render 'shared/flash_messages' %>

<div class="main-image"></div>

<div style="background-color: #ffffff; padding: 3.4rem 0;">
  <div class="text-center">
    <div class="mb-3 text-dark" style="font-size: 4rem; font-family: 'New Tegomin', serif;">
      料理のいつじ
    </div>
    <div class="mb-3">
      料理レシピの投稿・共有サービス
    </div>
  </div>
</div>

<div style="background-color: #f8f9fa; padding: 6rem 0;">
  <div class="text-center" style="font-size: 1.8rem; margin: 0 3rem 6rem;">
    <div class="description-title2">
      料理のてつじでは、<br>
      こんな事が可能です。
    </div>
    <div class="description-title1">
      料理のてつじでは、こんな事が可能です。
    </div>
  </div>
  <div class="description-oya text-center">
    <div class="description-ko px-5">
      <div class="mb-3" style="font-size: 4.8rem;">
        <i class="fas fa-search"></i>
      </div>
      <div class="mb-3">
        <strong>検索</strong>
      </div>
      <div style="font-size: 1.2rem;">
        レシピ一覧画面や検索バーなどからレシピを検索することが可能です。
      </div>
    </div>
    <div class="description-ko px-5">
      <div class="mb-3" style="font-size: 4.8rem; padding-left: 1.3rem;">
        </i><i class="far fa-edit"></i>
      </div>
      <div class="mb-3">
        <strong>投稿</strong>
      </div>
      <div style="font-size: 1.2rem;">
        レシピの投稿や他のユーザーのレシピにコメントを投稿することが可能です。
      </div>
    </div>
    <div class="description-ko px-5">
      <div class="mb-3" style="font-size: 4.8rem;">
        </i><i class="far fa-heart"></i>
      </div>
      <div class="mb-3">
        <strong>いいね</strong>
      </div>
      <div style="font-size: 1.2rem;">
        いいねしたレシピは、いいね一覧画面から確認することが可能です。いいねの数は人気レシピの順位に反映されます。
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
  <% else %>
    <div class="text-center" style="margin-top: 6rem;">
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-color01" style="width: 200px;">今すぐはじめる</button>
      <% end %>
    </div>
  <% end %>
</div>

<div style="background-color: #ffffff;">
  <div class="container" style="padding: 3rem 2.25rem;">
    <div class="d-flex align-items-center justify-content-between retsu3" style="padding: 0 0.75rem 3rem;">
      <div class="text-dark font-weight-bold" style="font-size: 1.8rem;">
        新着レシピ
      </div>
      <%= link_to recipes_path do %>
        <div class="text-secondary">もっと見る<i class="fas fa-chevron-right pl-3"></i></div>
      <% end %>
    </div>

    <div class="row no-gutters row-cols-1 row-cols-md-2 row-cols-lg-3 retsu3">
      <% @search_recipes.each do |recipe| %>
        <div class="col">
          <%= render 'shared/recipes', recipe: recipe %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="background-color: #f8f9fa;">
  <div class="container" style="padding: 3rem 2.25rem;">
    <div class="d-flex align-items-center justify-content-between retsu3" style="padding: 0 0.75rem 3rem;">
      <div class="text-dark font-weight-bold" style="font-size: 1.8rem;">
        ランキング
      </div>
      <%= link_to page_path('ranking') do %>
        <div class="text-secondary">もっと見る<i class="fas fa-chevron-right pl-3"></i></div>
      <% end %>
    </div>

    <div class="row no-gutters row-cols-1 row-cols-md-2 row-cols-lg-3 retsu3 ranking">
      <% @recipes.each do |recipe| %>
        <div class="col ranking-li">
          <%= render 'shared/recipes', recipe: recipe %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
