<%= render 'shared/header' %>
<%= render 'shared/flash_messages' %>

<div class="main-image"></div>

<div class="py-5">
  <div class="text-center">
    <div class="mb-4 text-dark" style="font-size: 4.8rem; font-family: 'New Tegomin', serif;">
      料理のてつじ
    </div>

    <div class="mb-5">
      料理レシピの投稿・共有サービス
    </div>

    <% if user_signed_in? %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-color01" style="width: 200px;">今すぐはじめる</button>
      <% end %>
    <% end %>
  </div>
</div>





<div class="bg-description">
  <div class="description3" style="margin-bottom: 4.5rem;">
    <div class="text-dark description3-mb-4">
      利用規約
    </div>
    <div class="text-dark description3-mb-4">
      プライバシーポリシー
    </div>
    <div class="text-dark description3-mb-4">
      お問い合わせ
    </div>
  </div>
  <div class="text-center" style="font-size: 1.2rem;">
    © 2022 料理のてつじ
  </div>
</div>





<div class="container p-5">
  <div class="wrapper d-flex align-items-center justify-content-between mb-5">
    <div class="text-dark font-weight-bold" style="font-size: 1.8rem;">
      新着レシピ
    </div>
    <%= link_to recipes_path do %>
      <div class="text-secondary">もっと見る<i class="fas fa-chevron-right pl-3"></i></div>
    <% end %>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 px-2">
    <%= render 'shared/recipes' %>
  </div>
</div>

<%= render 'shared/footer' %>
