<%= render 'shared/header' %>
<%= render 'shared/flash_messages' %>

<div class="py-5">
  <div class="text-center">
    <h2 class="mb-5 text-dark" style="font-family: 'Kiwi Maru', serif;">
      アプリ名
    </h2>

    <h4 class="mb-5">
      レシピを投稿しよう
    </h4>

    <% if user_signed_in? %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-color01" style="width: 200px;">今すぐはじめる</button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="bg-white" style="height: 21rem;">
</div>

<div class="container p-5">
  <div class="wrapper d-flex align-items-center justify-content-between mb-5">
    <div class="text-dark font-weight-bold" style="font-size: 1.8rem;">
      新着レシピ
    </div>
    <%= link_to recipes_path do %>
      <div class="text-secondary">もっと見る<i class="fas fa-chevron-right pl-3"></i></div>
    <% end %>
  </div>

  <%= render 'shared/recipes' %>
</div>

<footer class="d-flex align-items-center justify-content-center header64">
  <%= link_to '利用規約', page_path('terms') %>
  <%= link_to 'プライバシーポリシー', page_path('privacy') %>
  © 2022 アプリ名
</footer>
