<%= render 'shared/flash_messages' %>

<div class="container-login">
  <div class="card shadow-lg my-5 px-5 pt-5">
    <h2 class="display-5 mb-5 text-center">
      ログイン
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mb-5">
      <%= f.email_field :email,
                        autofocus: true,
                        autocomplete: "email",
                        class: "form-control form-control-lg",
                        required: true,
                        maxlength: '100',
                        placeholder: "メールアドレス" %>
    </div>

    <div class="form-group mb-5">
      <%= f.password_field :password,
                           autocomplete: "current-password",
                           class: "form-control form-control-lg",
                           required: true,
                           minlength: @minimum_password_length,
                           maxlength: '30',
                           placeholder: "パスワード" %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_in'), class:"btn btn-warning btn-block btn-lg" %>
    </div>
    <% end %>

    <%= link_to users_guest_sign_in_path, method: :post do %>
      <button type="button" class="btn btn-danger btn-block btn-lg mt-3">ゲストログイン(閲覧用)</button>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
