<!DOCTYPE html>
<html>
  <head>
    <title>レシピ館</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/4d6c33f0a9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if current_page?(new_user_registration_path) %>
    <% elsif current_page?(new_user_session_path) %>
    <% elsif current_page?(new_user_password_path) %>
    <% elsif current_page?(edit_user_password_path) %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      $(".dropdown-toggle").click( function() {
        $(this).find(".dropdown-menu").toggle();
      });

      $(".openbtn1").click(function () {
        $(this).toggleClass('active');
          $("#g-nav").toggleClass('panelactive');
      });
    </script>
  </body>
</html>
