<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= link_to root_path do %>
      <h1 style="font-family: cursive;">portfolio</h1>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button type="button" class="btn btn-warning">ログアウト</button>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-warning">ログイン</button>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-warning">新規登録</button>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
